[![Build Status](https://travis-ci.org/iSuslov/reactive-query.svg?branch=master)](https://travis-ci.org/iSuslov/reactive-query)

```
meteor add zuzel:reactive-query
```

<a href="https://atmospherejs.com/zuzel/reactive-query">https://atmospherejs.com/zuzel/reactive-query</a>

# reactive-query
Reactive query is a meteor package that makes it easy to serialize application state in URL query params
Can save data as a query param without ruining URL.

#API Reference:
{{#identifier name="QueryParamObject"~}}
{{>header~}}
{{>body~}}
{{>member-index~}}
{{>members~}}
{{/identifier}}

{{#identifier name="ReactiveQueryKey"~}}
{{>header~}}
{{>body~}}
{{>member-index~}}
{{>members~}}
{{/identifier}}

{{#class name="ReactiveQuery"~}}
{{>header~}}
{{>body~}}
{{>member-index~}}
{{>members~}}
{{/class}}