[![Build Status](https://travis-ci.org/iSuslov/reactive-query.svg?branch=master)](https://travis-ci.org/iSuslov/reactive-query)

```
meteor add zuzel:reactive-query
```

<a href="https://atmospherejs.com/zuzel/reactive-query">https://atmospherejs.com/zuzel/reactive-query</a>

<a href="http://reactive-query.meteor.com/">DEMO</a>

# reactive-query
Reactive query is a meteor package that makes it easy to serialize application state in URL query params
Can save data as a query param without ruining URL.

#Example:

## reactiveQuery-config.js
```js
//define keys for query
ACTIONS_QUERY = {
    IS_MODAL_OPEN: {
        name: "m",
        isValid: _.isBoolean
    }
}
Actions = new ReactiveQuery("actions", ACTIONS_QUERY);
```

## Router.js
```js
Router.route('/', {
    name: 'home',
    onBeforeAction: function () {
        Actions.set(this.params.query);
        this.next();
    }
});
```

## Template controller
```js
Template.home.helpers({
    isModalOpened: function () {
        return Actions.get(ACTIONS_QUERY.IS_MODAL_OPEN);
    }
});
Template.home.events({
    'click .open-modal': function (event, template) {
        goActions(ACTIONS_QUERY.IS_MODAL_OPEN, true);
    }
    'click .close-modal': function (event, template) {
        goActions(ACTIONS_QUERY.IS_MODAL_OPEN, null); //or false
    }
});
function goActions(key, value){
    var query = Router.current().params.query;
    var newQueryParam = Actions.whatIfAsQueryParam(key, value);
    query[newQueryParam.name] = newQueryParam.value;
    Router.go('home', null, {query: query});
}
```

```
 {{#if isModalOpened}}
    <div class="modal-simple-fade fit">
        <div class="modal-simple">
            <h1>Hello! You can reload this page..</h1>
            <span>..and I'm still here waiting for you..</span>
            <button type="button" class="close-modal" style="position: absolute; bottom: 20px; right: 20px;">
                Close
            </button>
        </div>
    </div>
 {{/if}}
```

#API Reference:
{{#identifier name="QueryParamObject"~}}
{{>header~}}
{{>body~}}
{{>member-index~}}
{{>members~}}
{{/identifier}}

{{#identifier name="ReactiveQueryKey"~}}
{{>header~}}
{{>body~}}
{{>member-index~}}
{{>members~}}
{{/identifier}}

{{#class name="ReactiveQuery"~}}
{{>header~}}
{{>body~}}
{{>member-index~}}
{{>members~}}
{{/class}}